config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "LOCALIZATION"
		type: LOCALIZATION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GNSS_ODOMETRY"
		type: GNSS_ODOMETRY
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_IMU"
		type: GR_IMU
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_ODOM"
		type: GR_ODOM
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
