config{
	name: "Auto_Drive"
	node{
		name: "Cmd_Vel"
		type: CMD_VEL
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "control"
		type: CONTROL_COMMAND
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "Planning"
		type: PLANNING_TRAJECTORY
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "RELATIVE_MAP"
		type: RELATIVE_MAP
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "NAVIGATION"
		type: NAVIGATION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "Localiaztion"
		type: LOCALIZATION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node {
		name: "GPS"
		type: GPS
		detect_type: ONTIMER
		dev_name: "/dev/tty_gps"
		delay_tolerance: 2.0
		cfirm_data{
			name: "orientation_z"
			reference_value: 0.0001
			tolerance_range: 1
			positive: true
		}
	}
	node{
		name: "GR_IMU"
		type: GR_IMU
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_ODOM"
		type: GR_ODOM
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
