config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "GUARDIAN"
		type: GUARDIAN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_IMU"
		type: GR_IMU
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_ODOM"
		type: GR_ODOM
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTANALYSE"
		type: ULTANALYSE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "PLANNING"
		type: PLANNING
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ZED"
		type: ZED
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASOUND_DOWN"
		type: ULTRASOUND_DOWN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CONTROL_COMMAND"
		type: CONTROL_COMMAND
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
