config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "ULTRASENSOR_CONFIG"
		type: ULTRASENSOR_CONFIG
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASENSOR_STATE"
		type: ULTRASENSOR_STATE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "PLATFORM_GUARDIAN"
		type: PLATFORM_GUARDIAN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GNSS_ODOMETRY"
		type: GNSS_ODOMETRY
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
    node{
		name: "CONTROL_INFO"
		type: CONTROL_INFO
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CHASSIS_SPEED_LIMIT"
		type: CHASSIS_SPEED_LIMIT
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "SWITCH_REQ"
		type: SWITCH_REQ
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "SWITCH_RES"
		type: SWITCH_RES
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
