config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "PLANNING"
		type: PLANNING
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "LOCALIZATION"
		type: LOCALIZATION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "PREDICTION"
		type: PREDICTION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CANBUS"
		type: CANBUS
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "RELATIVE_MAP"
		type: RELATIVE_MAP
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
