config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "FENCE"
		type: FENCE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "LOCALIZATION"
		type: LOCALIZATION
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CONTROL_INFO"
		type: CONTROL_INFO
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
