config{
	name: "2019-09-25-14-36-00.bag"
	node{
		name: "ULTANALYSE"
		type: ULTANALYSE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASOUND_DOWN"
		type: ULTRASOUND_DOWN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASOUND"
		type: ULTRASOUND
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASENSOR_CONFIG"
		type: ULTRASENSOR_CONFIG
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTRASENSOR_STATE"
		type: ULTRASENSOR_STATE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
