config{
	name: "2019-08-22-16-08-36.bag"
	node{
		name: "GUARDIAN"
		type: GUARDIAN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "PLATFORM_GUARDIAN"
		type: PLATFORM_GUARDIAN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GR_ODOM"
		type: GR_ODOM
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "ULTANALYSE"
		type: ULTANALYSE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
