config{
	name: "2019-07-18-17-20-48_0.bag"
	node{
		name: "CMD_VEL"
		type: CMD_VEL
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CHASSIS_SPEED_LIMIT"
		type: CHASSIS_SPEED_LIMIT
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "SWITCH_RES"
		type: SWITCH_RES
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "FENCE"
		type: FENCE
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "CONTROL_COMMAND"
		type: CONTROL_COMMAND
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "GUARDIAN"
		type: GUARDIAN
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
	node{
		name: "SWITCH_REQ"
		type: SWITCH_REQ
		detect_type: ONTIMER
		delay_tolerance: 2.0
	}
}
